html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
    font-family: sans-serif;
    scroll-behavior: smooth;
}

li{
    list-style: none;
    margin-top: 12px;
}

a{
    text-decoration: none;
    font-size: 28px;
    color: white;
    font-weight: bold;
}

a:hover{
    color: rgb(2, 56, 56);
}


ul{
    padding: 0;
}

table{
    border: 1px solid #317180;
    text-align: center;
    font-size: 24px;
}

table thead{
    background-color: #317180;
    color: white;
} 

table td{
    border: 1px solid gray;
    padding: 2px;
}

table tr:nth-child(even){
    background-color: #9cb8c0;
}

.wrapper {
    width: 1200px;
    display: flex;
    margin: 0 auto;
    background-color: aquamarine;
}

.main {
    display: flex;
    flex-flow: column;
    width: 85%;
}

.menu {
    width: 15%;
    background-color: #317180;
    padding: 10px 20px 0px;
    display: flex;
    flex-direction: column;
}

.header {
    background-color: rgb(5, 108, 108);
    min-height: 150px;
}

.header img{
    max-width: 100%;
    height: 100%;
}

.content {
    background-color: white;
    min-height: 300px;
    padding: 20px;
}

h1{
    color: #317180;
}

.footer {
    background-color: lightgray;
    min-height: 150px;
    display: flex;
    justify-content: center;
}

.footer-info{
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
}

h2,h3{
    margin: 0;
    padding: 0;
    color: #317180;
}


.logo-wt{
    width: 35px;
}

.content-wrapper{
    display: grid;
    grid-template-areas: 
    "form iframe";
    gap: 60px;
}

.content-form{
    grid-area: form;
}

.content-iframe{
    grid-area: iframe;
}